/* Inicializando el diseño */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Maqueta*/
body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
    auto 1fr auto;
}
/* tamaño de la imagen  */
img {
    width: 25%;
    border-radius: 50%;
}

/* Diseñando la barra de navegacion*/
#menu{
    background-color: rgb(229, 207, 166);
    box-shadow: 5px 0 15px gray;
    z-index: 2;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    padding: 2%;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}
/*transiciones*/
#menu.show{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

#menu.hidden{
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}


.menu--items{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

i {
    font-size: 250%;
}

header {
    background-color: rgb(203, 59, 59);
    display: flex;
}

/*Lista*/
.menu--item {
    list-style: none;
    background-color: rgba(207, 168, 138, 0.464);
}

.menu--links{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

/* inicio de la pagina */
main{
    padding: 5%;
    width: 63%;
}

.presentacion{
    border: 2px solid black;
    padding: 2%;
}

/*Menu hamburguesa*/

#menu_hamburguer{
    cursor: pointer;
}

#cerrarNav{
    cursor: pointer;
}
